.idea/Multimodality.iml
.idea/misc.xml
.DS_Store
第二次作业/sentiment/val_text.txt
第二次作业/sentiment/train_text.txt
第二次作业/sentiment/val_labels.txt
第二次作业/sentiment/train_labels.txt
第二次作业/sentiment/mapping.txt
第二次作业/sentiment/test_labels.txt
第二次作业/sentiment/test_text.txt
第二次作业/data.zip
新建文件夹/data/*
新建文件夹/g*
第二次作业/g*
.idea/misc.xml
.idea/Multimodality.iml
